*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #d7d7d7;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container{
  width: 40rem;
  height: 20rem;
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1{
  margin-bottom: 40px;
}

.buttons{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#red{
  background-color: red;
}
#blue{
  background-color: blue;
}
#green{
  background-color: green;
}
#yellow{
  background-color: rgb(242, 185, 0);
}